html,
body,
#root {
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#logo {
  float: left;
}

.sidebar-container {
  position: fixed;
  margin: 0;
  padding: 0;

  top: 10px;
  bottom: 10px;
  right: -420px;

  width: 400px;

  background-color: white;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 23px -1px rgba(35, 35, 35, 0.15);
  -moz-box-shadow: 0px 0px 23px -1px rgba(35, 35, 35, 0.15);
  box-shadow: 0px 0px 23px -1px rgba(35, 35, 35, 0.15);

  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}

.sidebar-displayed {
  right: 10px;
}

.result-item {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;

  background-color: white;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 23px -1px rgba(35, 35, 35, 0.15);
  -moz-box-shadow: 0px 0px 23px -1px rgba(35, 35, 35, 0.15);
  box-shadow: 0px 0px 23px -1px rgba(35, 35, 35, 0.15);

  position: relative;
  padding: 10px;
}

.result-options {
  position: absolute;
  top: 0px;
  right: 4px;
}

.result-profile {
  bottom: 10px;
  right: 10px;
  height: 30px;
  border-radius: 3px;
  overflow: hidden;
  vertical-align: middle;
  align-items: center;
  display: inline-flex;
  justify-content: space-between;
  border: 1px solid #ededed;
  background-color: #ededed;
}

.profile-items {
  float: right;
}

.profile-items--image {
  width: 30px;
  height: 30px;
  right: 0px;
  object-fit: cover;
  object-position: center;
  border-right: 1px solid #ededed;
}

.profile-items--text {
  padding: 0 5px;
}

.strike-through {
  text-decoration: line-through;
  text-decoration-color: red;
}
